html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: #e9bcb7b2;
	background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	font-family: 'Architects Daughter', cursive;
	font-size: 48px;
	color: white;
	text-align: center;
}

.carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
	perspective: 1600px;
}

.carousel-cards {
	position: relative;
	width: 650px;
	height: 430px;
	transform-style: preserve-3d;
	transform: translateZ(-400px);
	transition: transform 0.3s ease-in;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel_card {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 8px white;
}

.carousel-img {
	display: inline-block;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}


/* Arranging the cards relative to the circle */

.carousel_card:nth-child(1) {
	transform: rotateY(0deg) translateZ(400px);
	background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/roommate.jpg?v=1648091151278);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel_card:nth-child(2) {
	transform: rotateY(120deg) translateZ(400px);
	background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/go_dutch.jpg?v=1648090995043);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel_card:nth-child(3) {
	transform: rotateY(240deg) translateZ(400px);
	background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/recipes.jpg?v=1648091139455);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.inner-text {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	padding: 40px 40px;
	z-index: 2;
	border-radius: 10px;
	overflow: auto; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	background-color: rgba(39, 39, 39, 0.822);
	color: white;
	opacity: 0;
}

.inner-text:hover {
	opacity: 1;
  overflow: auto; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
}

.slide-header {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin: 60px 0px -15px 0px;
	font-family: 'Architects Daughter', cursive;
}

.underline {
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;
	font-family: 'Architects Daughter', cursive;
}

.basis,
.list-container {
	margin: 0;
	padding: 0;
	text-align: start;
	align-self: flex-start;
	list-style: none;
}

.basis {
	margin-top: 20px;
}

li {
	font-size: 15px;
	font-weight: 300;
	margin-top: 5px;
}

i {
	margin-left: 5px;
}

.feature-list {
	list-style-type: disc;
	margin-left: 20px;
}

.confetti-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 300px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}

.calc-btn {
	font-family: 'Architects Daughter', cursive;
	font-size: 16px;
	padding: 7px 18px;
	border: none;
	border-radius: 10px;
	background-color: #fc7dcf;
	z-index: 2;
	position: absolute;
}
.game-link {
	text-decoration: none;
	color: white;
}
.game-btn:hover {
	transform: scale(1.04);
}
.particle {
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}
.p-one,
.p-seven {
	width: 20px;
	height: 20px;
	background-color: hotpink;
}

.p-two,
.p-eight {
	width: 10px;
	height: 10px;
	background-color: rgb(255, 240, 105);
}
.p-three,
.p-nine {
	width: 15px;
	height: 15px;
	background-color: rgb(188, 105, 255);
}

.p-four,
.p-ten {
	width: 6px;
	height: 6px;
	background-color: rgb(105, 255, 105);
}

.p-five,
.p-eleven {
	width: 17px;
	height: 17px;
	background-color: rgb(255, 105, 130);
}

.p-six,
.p-twelve {
	width: 12px;
	height: 12px;
	background-color: rgb(105, 220, 255);
}

.carousel_btn {
	margin: 20px;
	border: none;
	outline: none;
	border: 1.5px solid whitesmoke;
	border-radius: 6px;
	padding: 8px 20px;
	background-color: transparent;
	color: white;
	font-family: 'Architects Daughter', cursive;
	font-size: 16px;
}

.carousel_btn:hover {
	transform: scale(1.04);
}

.back-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-btn {
	border: none;
	outline: none;
	border-radius: 6px;
	padding: 6px 16px;
	background-color: whitesmoke;
	color: #2a1773;
	font-family: 'Architects Daughter', cursive;
	font-size: 16px;
}

.back-btn:hover {
	transform: scale(1.04);
	border: 1.5px solid whitesmoke;
	background-color: transparent;
	color: whitesmoke;
}

.note-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.note {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.363);
	text-align: center;
	color: white;
	margin-top: 15px;
	padding: 5px 15px;
}


/* Vertical Adaptation */

@media all and (max-height: 700px) {
	.particle {
		position: absolute;
	}
	.confetti-container {
		margin-bottom: 0px;
	}
	.inner-text {
		padding-top: 0px;
	}
	.recipe-inner-text {
		padding-top: 40px;
	}
	.roommate-inner-text {
		padding-top: 40px;
	}
}
@media all and (max-height: 600px) {
	.inner-text {
		padding-top: 130px;
	}
	.recipe-inner-text {
		padding-top: 160px;
	}
	.roommate-inner-text {
		padding-top: 160px;
	}
}


/* Horizontal Adaptation */

@media all and (max-width: 700px) {
	.carousel  {
		width: 90%;
	}
	.carousel-cards {
		width: 450px;
		height: 430px;
		transform: translateZ(-300px);
  
	}
	.carousel_card:nth-child(1) {
		transform: rotateY(0deg) translateZ(300px);
	}
	.carousel_card:nth-child(2) {
		transform: rotateY(120deg) translateZ(300px);
	}
	.carousel_card:nth-child(3) {
		transform: rotateY(240deg) translateZ(300px);
		background-size: cover;
	}
	.confetti-container {
		margin-bottom: 0px;
	}
	.slide-header {
		font-size: 18px;
		margin-top: 80px;
	}
	.underline {
		font-size: 16px;
	}
	li {
		font-size: 14px;
	}
}
@media all and (max-width: 600px) {
	.currency-header {
		margin-top: -10px;
	}
	.recipe-header {
		margin-top: 40px;
	}
	.dutch-header {
		margin-top: 10px;
	}
}


@media all and (max-width: 500px) {
	.header-container {
		margin-bottom: -30px;
	}
	.header {
		font-size: 32px;
	}
	.carousel-cards {
		width: 360px;
		height: 430px;
		transform: translateZ(-180px);
	}
	.carousel_card:nth-child(1) {
		transform: rotateY(0deg) translateZ(180px);
	}
	.carousel_card:nth-child(2) {
		transform: rotateY(120deg) translateZ(180px);
	}
	.carousel_card:nth-child(3) {
		transform: rotateY(240deg) translateZ(180px);
		background-size: calc(150%) calc(100%);
	}
	.slide-header {
		margin: 0px 0px -15px 0px;
	}
	.carousel-btns,
	.back-btn-container {
		margin-top: -40px;
	}
	.carousel_btn {
		margin: 20px;
		padding: 4px 18px;
		font-size: 15px;
	}
	.carousel_btn {
		margin-top: 35px;
	}
	.back-btn {
		margin-top: 25px;
	}
}
@media all and (max-width: 400px) {
	.header {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.currency-header, .dutch-header {
		margin-top: 30px;
	}
}

@media all and (max-width: 350px) {
	.header {
		font-size: 24px;
    margin-top: 10px;
	}
	.carousel-cards {
		width: 300px;
		height: 430px;
		transform: translateZ(-150px);
	}
	.carousel_card:nth-child(1) {
		transform: rotateY(0deg) translateZ(150px);
	}
	.carousel_card:nth-child(2) {
		transform: rotateY(120deg) translateZ(150px);
	}
	.carousel_card:nth-child(3) {
		transform: rotateY(240deg) translateZ(150px);
	}
	.inner-text {
		padding: 110px 20px 20px 20px;
	}
	.slide-header {
		font-size: 17px;
		margin-top: 80px;
	}
	.roommate-header, .recipe-header {
		margin-top: 140px;
	}
	.underline {
		font-size: 15px;
	}
	li {
		font-size: 13px;
	}
	.confetti-container {
		height: 40px;
		width: 200px;
		margin-bottom: 60px;
		margin-right: 10px;
	}
	.carousel_btn {
		margin-top: 50px;
		padding: 4px 18px;
		font-size: 12px;
	}
	.back-btn-container {
		margin-top: -20px;
	}
	.back-btn {
		padding: 4px 16px;
		font-size: 14px;
	}
	.note {
		font-size: 12px;
	}
}

@media all and (max-width: 300px) {
	.carousel-cards {
		width: 270px;
		height: 480px;
		transform: translateZ(-135px);
	}
	.carousel_card:nth-child(1) {
		transform: rotateY(0deg) translateZ(135px);
		background-size: calc(200%) calc(100%);
	}
	.carousel_card:nth-child(2) {
		transform: rotateY(120deg) translateZ(135px);
	}
	.carousel_card:nth-child(3) {
		transform: rotateY(240deg) translateZ(135px);
	}
	.slide-header {
		font-size: 17px;
		margin-top: 130px;
	}
	.dutch-header, .currency-header{
		margin-top: 50px;
	}
}






