body {
    background-color: rgb(54, 52, 52);
}
.mainContainer {
    display: flex;
    justify-content: center;
}
.containerOne {
    background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/fireplace.jpg?v=1648162117150);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5%;
    border: 2px outset;
}
.containerTwo {
    flex: 1;
    min-height: 100vh;
    background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/cats.jpg?v=1648162112613);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin-right: 0.5%;
    border: 2px outset;
}
.containerThree {
    flex: 1;
    min-height: 100vh;
    background-image: url(https://cdn.glitch.global/2352592e-0222-4a73-ae43-2de112bee7dc/forest.jpg?v=1648162167206);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px outset;
}
.goBtn {
    width: 40%;
    margin-top: 20%;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: black;
    border: 3px outset;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
.exit-btn {
    margin-bottom: 60px;
    font-size: 12px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

@media all and (max-width: 800px) {
    .goBtn {
        width: 70%;
    }
}
@media all and (max-width: 600px) {
    .goBtn {
        font-size: 11px;
    }
}
@media all and (max-width: 500px) {
    .goBtn {
        font-size: 9px;
        width: 80%;
        border: 2px outset;
    }
}
@media all and (max-width: 400px) {
    .goBtn {
        width: 90%;
    }
}
@media all and (max-width: 350px) {
    .goBtn {
        padding: 15px 0px;
    }
}