@keyframes gradient {
    0% {background-position: 80% 0%;}
    50% {background-position: 20% 100%;}
    100% {background-position: 80% 0%;}
}
body {
    background: linear-gradient(149deg, rgba(231, 201, 222, 0.87) 0%, rgba(133, 46, 106, 0.808) 42%, rgba(72, 136, 160, 0.788) 72%, rgba(22, 36, 66, 0.719) 100%);
    animation: gradient 5s infinite linear;
    background-size: 400%; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    min-height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 800px;
    background-color: whitesmoke;
    padding: 30px 40px;
    box-shadow: 2px 2px 30px white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -60px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 4%;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10%;
    font-weight: 300;
    font-size: 20px;
}
label {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    
}
.submit, .closeBtn {
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 8px 0px;
}
.submit {
    background-color: #FEE3EC;
}
.closeBtn {
    display: none;
    background-color: rgb(120, 139, 178);
    color: white;
}
.adaptation {
    width: 360px !important;
}
#wheel {
    position: relative;
    z-index: 1;
}
#marker {
    position: absolute;
    z-index: 2;
    top: 5%;
}
.rules {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #FEE3EC;
    padding: 15px 25px;
    text-align: center;
    width: 40%;
    border: 4px groove rgb(120, 139, 178);
    border-radius: 10px;
    margin-top: -1%;
    margin-bottom: 6%;
}
.paragraph {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: #FEE3EC;
    padding: 15px 25px;
    border: 4px groove rgb(120, 139, 178);
    border-radius: 10px;
    font-size: 20px;
}
.score {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 25px;
}
.quote {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    margin-top: -1%;
    color: white;
    font-style: italic;
    width: 50%;
}
.text {
    text-align: center;
    font-size: 18px;
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px black,
        0 0 6px #fff,
        0 0 10px black,
        0 0 16px #fff,
        0 0 24px #fff,
        0 0 30px #fff,
        0 0 35px black,
        0 0 40px black;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
#btn {
    font-family: 'Lato', sans-serif;
    background-color: rgb(133, 46, 106);
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: -5%;
    z-index: 2;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
#reloadBtn {
    font-family: 'Lato', sans-serif;
    background-color: rgb(133, 46, 106);
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
    z-index: 2;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    display: none;
}
.back-btn {
    font-family: 'Lato', sans-serif;
    background-color: rgba(133, 46, 106, 0.788);
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 8px 20px;
    border-radius: 8px;
    z-index: 2;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
}
#btn:hover, #reloadBtn:hover, .back-btn:hover {
    transform: scale(1.04);
}
.opacity {
    filter: opacity(0.8);
}

.questionZero, .questionOne, .questionTwo, .questionThree, .questionFour, .questionFive, .questionSix, .questionSeven, .questionEight,
.questionZero-duplicate, .questionOne-duplicate, .questionTwo-duplicate, .questionThree-duplicate, .questionFour-duplicate, .questionFive-duplicate,
.questionSix-duplicate, .questionSeven-duplicate, .questionEight-duplicate {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.outro {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 50%;
    text-align: center;
    padding: 6px 20px;
    display: none;
    color: white;
    margin-top: -15px;
}
.intro {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    display: none;
    margin-bottom: -20px;
    margin-top: -5px;
}

.showAnswer {
    font-size: 15px;
    color: blueviolet;
    display: none;
}

.gifContainer {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 4%;
}
#libertyGif {
    display: none;
}
.dancingParent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 2%;
}
.all-animals {
    color:rgb(120, 139, 178);
}
.frog {
    color: rgb(72, 136, 160);
}
.snail {
    color: rgb(58, 80, 126);
}
.dolphin {
    color: rgb(231, 201, 222);
    text-shadow: 1px 1px 1px black;
}
.ladybug {
    color: rgb(133, 46, 106);
}
.coala {
    color: rgb(72, 136, 160);
}
.unicorn {
    color: rgb(58, 80, 126);
}
.dragon {
    color: rgb(219, 152, 199);
    text-shadow: 1px 1px 1px black;
}
.snowman {
    color: rgb(133, 46, 106);
}

@media all and (max-width: 700px) {
    #wheel {
        width: 300px;
    }
    #marker {
        width: 50px;
    }
    .rules {
        font-size: 15px;
        padding: 15px 25px;
        margin-top: -1%;
        margin-bottom: 6%;
    }
    #btn {
        font-size: 18px;
    }
    #reloadBtn {
        font-size: 18px;
    }
    .paragraph {
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: -2%;
    }
    .score {
        font-size: 20px;
        margin-bottom: 4%;
    }
    .quote {
        font-size: 18px;
    }
    .outro {
        font-size: 20px;
    }
    .intro {
        font-size: 20px;
    }
    form {
        width: 70%;
    }
    label {
        font-size: 16px;
    }
    .submit, .closeBtn {
        width: 40%;
        margin-top: 7%;
        font-size: 16px;
        padding: 8px 0px;
    }
}

@media all and (max-width: 500px) {
    #marker {
        top: 3%;
    }
    .rules {
        width: 70%;
    }
}

@media all and (max-width: 400px) {
    #wheel {
        width: 260px;
    }
    #marker {
        width: 40px;
    }
    .rules {
        font-size: 13px;
        padding: 15px 25px;
        margin-top: -1%;
        margin-bottom: 6%;
        width: 60%;
    }
    .quote {
        width: 65%;
    }
    #btn {
        font-size: 15px;
    }
    #reloadBtn {
        font-size: 15px;
    }
    .intro {
        font-size: 23px;
    }
    .center {
        font-size: 14px;
    }
    .adaptation {
        width: 300px !important;
    }
    #libertyGif {
        width: 280px;
        height: 380px;
    }
}

@media all and (max-width: 350px) {
    form {
        height: 900px;
    }
    .submit, .closeBtn {
        width: 50%;
        margin-left: 25%;
    }
    .intro {
        font-size: 18px;
    }
    label {
        font-size: 14px;
    }
    input {
        font-size: 14px;
    }
    .adaptation {
        width: 270px !important;
    }
    #libertyGif {
        width: 270px;
        height: 370px;
    }
    .dancingParent  {
        width: 60%;
    }
}

@media all and (max-width: 300px) {
    #wheel {
        width: 240px;
    }
    #marker {
        width: 35px;
        top: 2%;
    }
    .adaptation {
        width: 250px !important;
    }
    #libertyGif {
        width: 250px;
        height: 350px;
    }
    .dancingParent  {
        width: 70%;
    }
}


